<div class="append-0 prepend-0 pup">
    <h4>Easy 311 - Click &amp; Resolve</h4>

      <ul class="simple-list drape">
        <li class="computer">Allows DC residents to search 311 issues.</li>
        <li class="clipboard">Vote on issues most important to you.</li>
        <li class="folder">Submit your public service issue online.</li>
      </ul>
    <h4>Trends</h4>
      <ul class="simple-list drape">
        <li>
          <script type="text/javascript">
          function update_user_box() {

            var user_box = document.getElementById("user");

            // add in some XFBML. note that we set useyou=false so it doesn't display "you"
            user_box.innerHTML =
                "<span>"
              + "<fb:profile-pic uid=loggedinuser facebook-logo=true></fb:profile-pic>"
              + "Welcome, <fb:name uid=loggedinuser useyou=false></fb:name>. You are signed in with your Facebook account."
              + "</span>";

            // because this is XFBML, we need to tell Facebook to re-process the document 
            FB.XFBML.Host.parseDomTree();
          }
          </script>
          <script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script>
          <script type="text/javascript">
              FB.init("511f25858d093de6603db69a80cfdf82", "xd_receiver.htm");
          </script>
        </li>
        <li>Ward with the lowest issues in the last month.</li>
        <li>Type with the most issues.</li>
      </ul>

</div>
