<div class="append-0 prepend-0 pup">
    <h3>Easy 311 - Click & Resolve</h3>
    <div class="large">
      <ul class="medium">
        <li>Allows DC residents to search 311 issues.</li>
        <li>Vote on issues most important to you.</li>
        <li>Submit your public service issue online.</li>
      </ul></div>
    <h3>Trends</h3>
      <ul class="medium">
        <li>Ward with the lowest issues in the last month.</li>
        <li>Type with the most issues.</li>
      </ul>
    </ul>
</div>
