
<div class="issue">
  <div class="tally span-3" >
    <label>230</label>
    <span>Agree</span>
  </div>
  <div class="span-18">
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
