<% for issue in @issues %>
<div class="issue">
  <div class="tally span-3" >
    <label><%= issue.votes.count %></label>
    <span>Agree</span>
  </div>
  <div class="span-18">
    <h3><%=h issue.title %></h3>
  <p><%=h issue.description %></p>
  </div>
</div>
<% end %>
