<% for issue in @issues %>
<div class="issue">
  <div class="tally span-3" rel="<%=vote_path(issue.user_id,issue.id)%>">
    <label><%= issue.votes.count %></label>
    <span>Agree</span>
  </div>
  <div class="span-18">
    <h3><%= issue.title %></h3>
  <p><%= issue.description %></p>
  </div>
</div>
<% end %>