<div class="span-20"><label for="Search">I would like to...</label>
<input type="text" name="search" value="Search..." id="issue">
</div>
<div class="span-4 pupll">
  <%= image_submit_tag("/images/search_button.gif", :id => "search_button", :name => "list", :disabled => false) %>
</div>


