<div class="span-24 pup">
  <%= link_to '<img src="/images/logo.gif"/>', root_path %>
</div>
<br>
<div>
  Welcome to <b>Easy311</b>, the mobile version!
</div>
<br>
<div>
  Found an issue? <%= link_to "Click here to submit and issue",new_issue_path, :id=>'makeIssue' %>
</div>