<div id ="custom_form_id">
  <% @attributes.each_with_index do |a, i| -%>	
	<% if a.attribute_type.strip.eql?("DropDown") -%>
  		<p>
    	<%= label :issue, "attributes_select_#{i}", a.prompt -%>
    	<%= select_tag( "issue[attributes][field_#{i}]", 
						options_for_select(a.item_list.split(",").collect{|x| x.strip}), 
						{:name => "issue[attributes][field_#{i}]", :id =>"attributes_select_#{i}" }) -%>
  		</p>
    <% elsif a.attribute_type.strip.eql?("TextBox") -%>
  		<p>
		<%= label :issue, "attributes_field_#{i}", a.prompt -%>
		<%= text_field_tag "issue[attributes][field_#{i}]", '', {:name => "issue[attributes][field_#{i}]", :size => 50, :maxlength => a.width} -%>
  		</p>
	<% end -%>
  <% end -%>
</div>